body
{
    background: cover;
}

.heading
{
  color: White;
  font-weight: bold;
  font-size: 18px;
}
.note
{
    color: black;
    
}

canvas
{
 background: black;
 border: 5px solid white;
 border-radius: 20px;
 box-shadow: 5px 5px 5px grey;
}